html,
body {
    height: 100%;
}


.sidenav {
    width: 300px;
    height: 100%;
    position: relative;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 20px !important;
    text-align: center !important;
    margin-bottom: 10px;
}

/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 999999999999999999;
    /* makes sure it stays on top */
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.spinner-indigo,
.spinner-indigo-only {
    border-color: #3f51b5;
}

#status {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 69;
    text-align: center;
    text-align: center;
}

.empty-cart {
    position: absolute;
    top: 50%;
    left: 60%;
    left: calc(50%+150px);
    transform: translate(-50%, -50%);
    text-align: center;
}

.cart {
    font-size: 200px;
}

a {
    color: black;
}

.listname {
    padding: 20px 0 20px 0;
}

@media only screen and (max-width: 992px) {

    header,
    main,
    footer {
        left: 0;
    }

    .empty-cart {
        left: 50%;
    }
}

.btn-floating {
    z-index: 2;
}

#main,
#account {
    height: 100%;
    align-content: left;
}


.dropdown-content {
    min-width: 170px;
}