header,
main,
footer {
    left: 300px;
}


.empty-cart {
    position: absolute;
    top: 50%;
    left: 60%;
    left: calc(50%+150px);
    transform: translate(-50%, -50%);
    text-align: center;
}

.cart {
    font-size: 200px;
}

a {
    color: black;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        left: 0;
    }
    .empty-cart {
        left: 50%;
    }
    .card {
        width: 100%;
    }
}

.truncate {

    width: 65%;
}